@model SysReservacionEventosESFE.EntidadesDeNegocio.Evento


@{
    ViewData["Title"] = "YaReservado";
}

<h1>LA FECHA, LUGAR Y HORA YA SE ENCUENTRAN RESERVADAS, PORFAVOR SELECCIONA OTRAS </h1>

<style>
    .image-container2 {
        display: flex;
        justify-content: center;
        height:20%;
        width:auto;
    }
</style>

<div class="image-container2">
    <img src="~/IMG/User invalid.png" alt="Descripción de la imagen" style="height:20%;">
</div>



