@model SysReservacionEventosESFE.EntidadesDeNegocio.EspaciosA

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EspaciosA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEspaciosA" class="form-control" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <select asp-for="Status" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @if (Model.Status == 1)
                        {
                            <option selected value="1">DISPONNIBLE</option>
                        }
                        else
                        {
                            <option value="1">ACTIVO</option>
                        }
                        @if (Model.Status == 2)
                        {
                            <option selected value="2">OCUPADO</option>
                        }
                        else
                        {
                            <option value="2">INACTIVO</option>
                        }

                    </select>
                    <span  class="text-danger">Estatus</span>

            @*BOTONES DE EDIT DE ROL*@

            <div class="form-group" style="margin-top: 10px;">
                <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                    <i class="fas fa-save"></i> Guardar
                </button>

                <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>
            <span class="text-danger">@ViewBag.Error</span>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
