@{
    ViewData["Title"] = "Acceso dengado";
}
<h1>NO TIENES PERMISO PARA REALIZAR ESTA ACCION, PORFAVOR SOLICITALO A UN ADMINISRTRADOR</h1>

<style>
    .image-container2 {
        display: flex;
        justify-content: center;
        height: 20%;
        width: auto;
    }
</style>

<div class="image-container2">
    <img src="~/IMG/User invalid.png" alt="Descripción de la imagen" style="height:20%;">
</div>
