@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al sistema de reservacion de eventos</h1>
</div>

<style>
    .image-container {
        display: flex;
        justify-content: center;
    }
</style>

<div class="image-container">
    <img src="~/IMG/Resgro.png" alt="Descripción de la imagen">
</div>